* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.userImg img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.userImg {
    width: 60%;
    margin: 20px auto;
}